h1{
    text-align: center;
}

p{
    text-align: center;
}

.features-items{
    width: 1000px;
    height: 300px;
    margin: 0 auto;
}
.features-item{
    display: inline-block;
    width: 23%;
    height: 300px;
    border: 1px solid blue;
    border-radius: 10px;
    margin: 5px;
}

body{
    height: 5000px;
}