@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1a461a;
    font-family: 'Open sans';
}
.calculator{
    display: grid;
}
.calculator .value{
    grid-column: span 4;
    text-align: right;
    border: none;
    outline: none;
    height: 100px;
    padding: 10px;
    font-size: 18px;
}
.calculator span{
    display: grid;
    width: 70px;
    height: 70px;
    color: #fff;
    background: #1f631f;
    place-items: center;
    border: 1px solid rgba(0, 0, 0, .2);
    font-size: 20px;
}
.calculator span:active{
    background: #74ff3b;
    color: #111;
}
.calculator span.clear{
    grid-column: span 2;
    width: 140px;
    background: chocolate;
}
.calculator span.plus{
    grid-row: span 2;
    height: 140px;
}
.calculator span.equal{
    background: #038eff;
}