.box01{
    width: 1200px;
    height: 200px;
    background:rgb(0, 181, 226);
    margin: 0px auto;
}

.box02{
    width: 1200px;
    height: 200px;
    background:rgb(239, 51, 64);
    margin: 0px auto;
}

.box03{
    width: 1200px;
    height: 200px;
    background:rgb(80, 158, 47);
    margin: 0px auto;
}
