.slider-container {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 15px;
}

.slide-items {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    gap: 20px;
    position: relative;
    top: 0px;
    left: 0px;
    transition: all .5s ease;
}

.slide-item {
    width: 1200px;
    height: 140px;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.arrow{
    display: flex;
}

.btn{
    padding: 10px 20px;
    border: 1px solid blue;
    border-radius: 10px;
    cursor: pointer;
}